<md-sidenav-layout>

  <md-sidenav #sidenav mode="side" class="app-sidenav">
    <md-list>
      <md-list-item><a routerLink="/vw" (click)="sidenav.toggle()" routerLinkActive="active">VW</a></md-list-item>
      <md-list-item><a routerLink="/audi" (click)="sidenav.toggle()" routerLinkActive="active">Audi</a></md-list-item>
      <md-list-item><a routerLink="/skoda" (click)="sidenav.toggle()" routerLinkActive="active">Skoda</a></md-list-item>
    </md-list>
  </md-sidenav>

  <md-toolbar color="primary">
    <button class="app-icon-button" (click)="sidenav.toggle()">
      <i class="material-icons app-toolbar-menu">menu</i>
    </button>

    <h2 style="padding-left:1em;">Spider - {{brandText}}</h2>

    <span class="app-toolbar-filler"></span>
    <button md-button [md-menu-trigger-for]="menu">Options</button>
  </md-toolbar>

  <md-menu x-position="before" #menu="mdMenu">
    <button md-menu-item (click)="priceUpdate()">Run price update</button>
    <button md-menu-item (click)="openDialog()">Properties</button>
    <button md-menu-item>Help</button>
  </md-menu>

  <md-card *ngIf="priceUpdateStatus" >Price update : {{priceUpdateStatus}}</md-card>

  <router-outlet></router-outlet>

</md-sidenav-layout>
